p {font-family: Arial, Helvetica, sans-serif;}
h1 {font-family: Arial, Helvetica, sans-serif;}
h2 {font-family: Arial, Helvetica, sans-serif;}
h3 {font-family: Arial, Helvetica, sans-serif;}
ul {font-family: Arial, Helvetica, sans-serif;}
ol {font-family: Arial, Helvetica, sans-serif;}
a {font-family: Arial, Helvetica, sans-serif;}